@{
    ViewData["Title"] = "Información";
}

<div class="container mt-5">
    <h2>Información Personal</h2>
    <hr />
    <p><strong>Nombre:</strong> David Carvajal</p>
    <p><strong>Carrera:</strong> Ing. Software</p>
    <p><strong>Descripción:</strong> Soy un estudiante de la carrera de Ingeniería de Software, siempre me ha gustado la programación aunque no se me dé del todo bien, siempre estoy dispuesto a intentar aprender lo que más puedo!</p>
</div>
